# Zscaler OneAPI Credentials (from Zidentity)
ZSCALER_CLIENT_ID = "enter the client ID"
ZSCALER_CLIENT_SECRET = "Enter Client secret"
ZSCALER_VANITY_DOMAIN = "Vanity domain here" #if my zidentity login URL is https://zerotrustsolutions.zslogin.net then zerotrustsolutions is the vanity domain. 
ZSCALER_CLOUD=zscalertwo

# Optional: Output file path
OUTPUT_CSV=zia_dlp_policies.csv
